[submodule "public"]
	path = public
	url = git@github.com:mikan/mikan.github.io.git
	branch = master
[submodule "themes/hugo-bootstrap-fix"]
	path = themes/hugo-bootstrap-fix
	url = https://github.com/mikan/hugo-bootstrap-fix.git
